@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: hsl(240 5% 6%);
    --foreground: hsl(60 5% 90%);
    --primary: hsl(240 0% 90%);
    --primary-foreground: hsl(0 0% 0%);
    --secondary: hsl(240 4% 15%);
    --secondary-foreground: hsl(60 5% 85%);
    --accent: hsl(240 0% 13%);
    --accent-foreground: hsl(60 0% 100%);
    --destructive: hsl(0 60% 50%);
    --destructive-light: hsl(0 60% 60%);
    --destructive-foreground: hsl(0 0% 98%);
    --muted: hsl(240 5% 25%);
    --muted-foreground: hsl(60 5% 85%);
    --card: hsl(240 4% 10%);
    --card-foreground: hsl(60 5% 90%);
    --popover: hsl(240 5% 15%);
    --popover-foreground: hsl(60 5% 85%);
    --border: hsl(240 6% 20%);
    --input: hsl(240 6% 20%);
    --ring: hsl(240 5% 90%);
    --radius: 0.5rem;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.theme-dark {
  --background: hsl(240 5% 6%);
  --foreground: hsl(60 5% 90%);
  --foreground-light-1: hsl(60 5% 80%);
  --foreground-light: hsl(60 5% 50%);
  --ghost-cursor: hsl(60 5% 25%);
  --primary: hsl(240 0% 90%);
  --primary-foreground: hsl(0 0% 0%);
  --secondary: hsl(240 4% 15%);
  --secondary-foreground: hsl(60 5% 85%);
  --accent: hsl(240 0% 13%);
  --accent-foreground: hsl(60 0% 100%);
  --destructive: hsl(0 60% 50%);
  --destructive-light: hsl(0 60% 60%);
  --destructive-foreground: hsl(0 0% 98%);
  --muted: hsl(240 5% 25%);
  --muted-foreground: hsl(60 5% 85%);
  --card: hsl(240 4% 10%);
  --card-foreground: hsl(60 5% 90%);
  --popover: hsl(240 5% 15%);
  --popover-foreground: hsl(60 5% 85%);
  --border: hsl(240 6% 20%);
  --input: hsl(240 6% 20%);
  --ring: hsl(240 5% 90%);
  --transparent-dark: hsl(240 5% 6% / 0.7);
  --radius: 0.5rem;
}

.theme-new {
  --destructive: hsl(15, 99%, 57%);
}

.theme-windows98 {
  --background: hsl(0 0% 85%);
  --foreground: hsl(0 0% 10%);
  --foreground-light: hsl(0 0% 50%);
  --ghost-cursor: hsl(0 0% 70%);
  --primary: hsl(0 0% 80%);
  --primary-foreground: hsl(0 0% 10%);
  --secondary: hsl(0 0% 70%);
  --secondary-foreground: hsl(0 0% 10%);
  --accent: hsl(55, 50%, 85%);
  --accent-foreground: hsl(0 0% 100%);
  --destructive: hsl(0 84% 32%);
  --destructive-light: hsl(0 84% 42%);
  --destructive-foreground: hsl(0 0% 98%);
  --muted: hsl(0 0% 75%);
  --muted-foreground: hsl(0 0% 10%);
  --card: hsl(0 0% 95%);
  --card-foreground: hsl(0 0% 10%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(240 10% 3.9%);
  --border: hsl(0 0% 60%);
  --input: hsl(0 0% 60%);
  --ring: hsl(0 0% 10%);
  --radius: 0rem;
}

.theme-pastel {
  --background: hsl(210 100% 97%);
  --foreground: hsl(339 20% 20%);
  --foreground-light: hsl(339 20% 60%);
  --primary: hsl(308 56% 85%);
  --primary-foreground: hsl(210 22% 22%);
  --secondary: hsl(196 75% 88%);
  --secondary-foreground: hsl(210 22% 22%);
  --accent: hsl(211 86% 70%);
  --accent-foreground: hsl(210 22% 22%);
  --destructive: hsl(0 93% 73%);
  --destructive-light: hsl(0 93% 83%);
  --destructive-foreground: hsl(210 22% 22%);
  --muted: hsl(210 100% 95%);
  --muted-foreground: hsl(210 22% 22%);
  --card: hsl(210 100% 97%);
  --card-foreground: hsl(210 22% 22%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(341 20% 22%);
  --border: hsl(210 40% 80%);
  --input: hsl(210 40% 56%);
  --ring: hsl(210 40% 60%);
  --radius: 1rem;
}

.theme-deepsea {
  --background: hsl(210 100% 6%);
  --foreground: hsl(180 100% 90%);
  --foreground-light: hsl(180 100% 40%);
  --primary: hsl(200 100% 28%);
  --primary-foreground: hsl(180 100% 90%);
  --secondary: hsl(203 23% 30%);
  --secondary-foreground: hsl(180 100% 90%);
  --accent: hsl(198 70% 50%);
  --accent-foreground: hsl(185 10% 13%);
  --destructive: hsl(0 98% 44%);
  --destructive-light: hsl(0 98% 54%);
  --destructive-foreground: hsl(0 0% 100%);
  --muted: hsl(200 50% 30%);
  --muted-foreground: hsl(180 100% 90%);
  --card: hsl(210 100% 12%);
  --card-foreground: hsl(180 100% 90%);
  --popover: hsl(210 100% 15%);
  --popover-foreground: hsl(180 100% 90%);
  --border: hsl(210 50% 40%);
  --input: hsl(210 50% 40%);
  --ring: hsl(180 100% 90%);
  --radius: 0rem;
}

.theme-daylight {
  --background: hsl(36 39% 88%);
  --foreground: hsl(36 45% 15%);
  --foreground-light: hsl(36 45% 55%);
  --primary: hsl(36 45% 70%);
  --primary-foreground: hsl(36 45% 11%);
  --secondary: hsl(40 35% 77%);
  --secondary-foreground: hsl(36 45% 25%);
  --accent: hsl(36 64% 57%);
  --accent-foreground: hsl(36 72% 17%);
  --destructive: hsl(0 84% 37%);
  --destructive-light: hsl(0 84% 47%);
  --destructive-foreground: hsl(0 0% 98%);
  --muted: hsl(36 33% 75%);
  --muted-foreground: hsl(36 45% 25%);
  --card: hsl(36 46% 82%);
  --card-foreground: hsl(36 45% 20%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(240 10% 3.9%);
  --border: hsl(36 45% 60%);
  --input: hsl(36 45% 60%);
  --ring: hsl(36 45% 30%);
  --radius: 0rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .word-error {
    position: absolute;
    bottom: 4%;
    width: 100%;
    height: 0.12em;
    border-radius: 10px;
    background-color: var(--destructive);
    z-index: 1;
  }

  .glow {
    text-shadow: 1px 0 0 var(--background), -1px 0 0 var(--background),
      0 1px 0 var(--background), 1px 1px 0 var(--background),
      -1px 1px 0 var(--background);
  }

  .soft-error {
    color: var(--destructive-light);
  }

  .dark-error {
    color: var(--destructive);
  }
}
