@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #1a1a1a;
    --foreground: #f4f4f4;
    --primary: #e1e1e1;
    --primary-foreground: #000000;
    --secondary: #1e1e1e;
    --secondary-foreground: #d8d8d8;
    --accent: #1a1a1a;
    --accent-foreground: #ffffff;
    --destructive: #ff4c4c;
    --destructive-light: #ffb3b3;
    --destructive-foreground: #fcfcfc;
    --muted: #3f3f3f;
    --muted-foreground: #d8d8d8;
    --card: #1c1c1c;
    --card-foreground: #f4f4f4;
    --popover: #1e1e1e;
    --popover-foreground: #d8d8d8;
    --border: #2d2d2d;
    --input: #2d2d2d;
    --ring: #e1e1e1;
    --radius: 0.5rem;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.theme-dark {
  --background: #1a1a1a;
  --foreground: #f4f4f4;
  --foreground-light-1: #cccccc;
  --foreground-light: #7f7f7f;
  --ghost-cursor: #404040;
  --primary: #e1e1e1;
  --primary-foreground: #000000;
  --secondary: #1e1e1e;
  --secondary-foreground: #d8d8d8;
  --accent: #1a1a1a;
  --accent-foreground: #ffffff;
  --destructive: #ff4c4c;
  --destructive-light: #ffb3b3;
  --destructive-foreground: #fcfcfc;
  --muted: #3f3f3f;
  --muted-foreground: #d8d8d8;
  --card: #1c1c1c;
  --card-foreground: #f4f4f4;
  --popover: #1e1e1e;
  --popover-foreground: #d8d8d8;
  --border: #2d2d2d;
  --input: #2d2d2d;
  --ring: #e1e1e1;
  --transparent-dark: rgba(26, 26, 26, 0.7);
  --radius: 0.5rem;
}

.theme-new {
  --destructive: #ff5f3b;
}

.theme-windows98 {
  --background: #d9d9d9;
  --foreground: #1a1a1a;
  --foreground-light: #7f7f7f;
  --ghost-cursor: #b2b2b2;
  --primary: #d2d2d2;
  --primary-foreground: #1a1a1a;
  --secondary: #b3b3b3;
  --secondary-foreground: #1a1a1a;
  --accent: #e5c07a;
  --accent-foreground: #ffffff;
  --destructive: #d53d2d;
  --destructive-light: #d53d2d;
  --destructive-foreground: #fcfcfc;
  --muted: #b2b2b2;
  --muted-foreground: #1a1a1a;
  --card: #f2f2f2;
  --card-foreground: #1a1a1a;
  --popover: #ffffff;
  --popover-foreground: #0f0f0f;
  --border: #999999;
  --input: #999999;
  --ring: #1a1a1a;
  --radius: 0rem;
}

.theme-pastel {
  --background: #e5f4fb;
  --foreground: #5a5a5a;
  --foreground-light: #9b9b9b;
  --primary: #e8b5d6;
  --primary-foreground: #353535;
  --secondary: #b3e1e8;
  --secondary-foreground: #353535;
  --accent: #a3d3e4;
  --accent-foreground: #353535;
  --destructive: #ff3d3d;
  --destructive-light: #ff4c4c;
  --destructive-foreground: #353535;
  --muted: #f5f5f5;
  --muted-foreground: #353535;
  --card: #e5f4fb;
  --card-foreground: #353535;
  --popover: #ffffff;
  --popover-foreground: #5a5a5a;
  --border: #cccccc;
  --input: #a3a3a3;
  --ring: #a3a3a3;
  --radius: 1rem;
}

.theme-deepsea {
  --background: #0d1f3d;
  --foreground: #b3ffff;
  --foreground-light: #66ffff;
  --ghost-cursor: #33cccc;
  --primary: #005c77;
  --primary-foreground: #b3ffff;
  --secondary: #333333;
  --secondary-foreground: #b3ffff;
  --accent: #32b2b2;
  --accent-foreground: #ff2a2a;
  --destructive: #fffc7b;
  --destructive-light: #ff9f8c;
  --destructive-foreground: #ffffff;
  --muted: #005d6b;
  --muted-foreground: #b3ffff;
  --card: #1b1b2d;
  --card-foreground: #b3ffff;
  --popover: #2a2a3d;
  --popover-foreground: #b3ffff;
  --border: #4c4c66;
  --input: #4c4c66;
  --ring: #b3ffff;
  --radius: 0.75rem;
}

.theme-test {
  --background: #2d2d2d;
  --foreground: #f2f2f2;
  --ghost-cursor: #737373;
  --foreground-light: #a0a0a0;
  --primary: #4f4f4f;
  --primary-foreground: #141414;
  --secondary: #9a9a9a;
  --secondary-foreground: #0a0a0a;
  --accent: #a9a9b5;
  --accent-foreground: #1c1c1c;
  --destructive: #bf4628;
  --destructive-light: #d9502e;
  --destructive-foreground: #f2f2f2;
  --border: #6f6f6f;
  --ring: #909090;
  --radius: 0.75rem;
}

.theme-daylight {
  --background: #e9d38d;
  --foreground: #5a5a2d;
  --foreground-light: #d2d27c;
  --primary: #b6b15b;
  --primary-foreground: #1c1c1c;
  --secondary: #c7c68e;
  --secondary-foreground: #5a5a2d;
  --accent: #e3b1d2;
  --accent-foreground: #c0b81b;
  --destructive: #d94e2d;
  --destructive-light: #d94e2d;
  --destructive-foreground: #fcfcfc;
  --muted: #b5b5b5;
  --muted-foreground: #5a5a2d;
  --card: #d8d8d8;
  --card-foreground: #5a5a2d;
  --popover: #ffffff;
  --popover-foreground: #0f0f0f;
  --border: #d0d0d0;
  --input: #999999;
  --ring: #999999;
  --radius: 0rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .word-error {
    position: absolute;
    bottom: -0.1em;
    width: 100%;
    height: 0.12em;
    border-radius: 10px;
    background-color: var(--destructive);
    z-index: 1;
  }

  .glow {
    text-shadow: 1px 0 0 var(--background), -1px 0 0 var(--background),
      0 1px 0 var(--background), 1px 1px 0 var(--background),
      -1px 1px 0 var(--background);
  }

  .soft-error {
    color: var(--destructive-light);
  }

  .dark-error {
    color: var(--destructive);
  }
}
